<header class="header">
  <div class="container">
    <div class="header-body">
      <a href="#" class="header-logo">
        <svg width="40" height="45" class="header-logo-icon">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
        <span class="header-logo-text">Travellian</span>
      </a>

      <nav class="header-nav">
        <ul class="header-list">
          <li class="header-item">
            <a href="#" class="header-link link-active">Home</a>
          </li>
          <li class="header-item">
            <a href="#" class="header-link link-active">Explore</a>
          </li>
          <li class="header-item">
            <a href="#" class="header-link link-active">Travel</a>
          </li>
          <li class="header-item">
            <a href="#" class="header-link link-active">Blog</a>
          </li>
          <li class="header-item">
            <a href="#" class="header-link link-active">Pricing</a>
          </li>
        </ul>
      </nav>

      <div class="header-send">
        <a href="#" class="header-send-login link-active">Login</a>
        <a href="#" class="header-send-sign">Sign up</a>
      </div>

      <div class="header-burger">
        <span></span>
      </div>
    </div>
  </div>
</header>
