<section class="hero">
  <div class="container">
    <div class="hero-body">
      <div class="hero-info">
        <h1 class="hero-title">Start your unforgettable journey with us.</h1>
        <p class="hero-text">The best travel for your jouney begins now</p>
      </div>
      <div class="hero-blok">
        <form class="hero-form">
          <div class="hero-filling">
            <label for="destination" class="hero-label"
              >Destination
              <input
                type="text"
                name="destination"
                class="hero-input"
                placeholder="City"
              />
            </label>
            <label for="person" class="hero-label"
              >Person
              <input
                type="number"
                name="person"
                class="hero-input"
                placeholder="0"
              />
            </label>
            <label for="checkin" class="hero-label"
              >Check in
              <input
                type="text"
                name="checkin"
                class="hero-input"
                placeholder="00.00.00"
              />
            </label>
            <label for="checkout" class="hero-label"
              >Check out
              <input
                type="text"
                name="checkout"
                class="hero-input"
                placeholder="00.00.00"
              />
            </label>
          </div>
          <button type="submit" class="hero-btn">
            Book Now
            <span>
              <svg width="27" height="20" class="hero-logo-icon">
                <use href="./img/icons.svg#icon-vector-link"></use>
              </svg>
            </span>
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
