<div class="slider">
  <div class="slider-container">
    <ul class="slider-list">
      <li class="slider-btn"></li>
      <li class="slider-btn"></li>
      <li class="slider-btn"></li>
      <li class="slider-btn"></li>
      <li class="slider-btn"></li>
    </ul>

    <div class="slider-vectors">
      <svg width="18" height="12" class="slider-icon">
        <use href="./img/icons.svg#icon-vector-up"></use>
      </svg>
      <svg width="18" height="12" class="slider-icon">
        <use href="./img/icons.svg#icon-vector-down"></use>
      </svg>
    </div>
  </div>
</div>
