<div class="swiper-container">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img class="swiper-bg" src="/img/swiper/swiper1.jpg" alt="" />
      </div>
      <div class="swiper-slide">
        <img class="swiper-bg" src="/img/swiper/swiper2.jpg" alt="" />
      </div>
      <div class="swiper-slide">
        <img class="swiper-bg" src="/img/swiper/swiper3.jpg" alt="" />
      </div>
      <div class="swiper-slide">
        <img class="swiper-bg" src="/img/swiper/swiper4.jpg" alt="" />
      </div>
      <div class="swiper-slide">
        <img class="swiper-bg" src="/img/swiper/swiper5.jpg" alt="" />
      </div>
    </div>
    <!-- <div class="swiper-button-prev"></div>
<div class="swiper-button-next"></div> -->
  </div>
</div>
<div class="swiper-pagination"></div>
